[include]
# contains user.name, user.email, github.token, github.token
  path=~/.gitconfig.local
[alias]
  st = status
  cat = show
  ## git rebase master: rebase current branch to upstream/master
  rem = "!git fetch upstream && git rebase upstream/$(git master-branch)"
  ## interactive rebase onto upstream/master -- squash/reorder before PR (no fetch)
  remi = "!git rebase upstream/$(git master-branch) ${@--i}"
  # origin = !sh -c 'git remote add -t ${2:-master} -m ${2:-master} ${1:-origin} ${0}'

  # checkout, but optional. if we are already on the branch, do not checkout
  # this means you do not loose the ability to git checkout - after running this
  optcheckout = "!f() { [[ $(git branch --show-current) = "$1" ]] || git checkout $1; }; f"

  ## git merge master: checkout master and merge with upstream master
  # note: using optcheckout so git checkout - history is not lost
  mem = "!git fetch upstream && git optcheckout $(git master-branch) && git merge --ff-only upstream/$(git master-branch)"
  #origin = !sh -c 'git remote add -t ${2:-master} -m ${2:-master} ${1:-origin} ${0}'

  ## amend current commit keeping the same comment
  amend = commit --amend --no-edit

  ## add a file to .gitignore
  ignore = "!f() { echo \"$@\" >> .gitignore ; }; f"

  ## edit gitconfig file with sublime
#  config-subl = "!subl ~/.gitconfig"
  config-subl = "!zed ~/.gitconfig"

  ## fetch/checkout a PR: gh pr checkout <id> (or glab mr checkout <id>)

  ## name of the current branch
  # e.g.: master
  branch-name  = "branch --show-current"
  #branch-name = "symbolic-ref --short HEAD"

  ## remove all branches that do not have any commits in them (and have been merged
  branch-prune = "!git optcheckout $(git master-branch) && git branch --merged | grep -v '*' | xargs git branch -d"

  ## tracking branch for the current branch
  tracking-branch = "symbolic-ref HEAD"

  ## remote branch this current branch is tracking
  ## e.g.:  origin
  remote-name  = "!git config branch.$(git branch --show-current).remote"

  ## show untracked files
  untracked = "ls-files --others -i --exclude-standard"

  ## url for the current branch ($1 = name of remote) must be linked to master
  ## e.g.: git@github.com:user/prog.git
  remote-url = "! f() { git config remote.${1:-$(git remote-name)}.url ; }; f"

  ## open a pr
  pr = "! f() { open $(git url compare) ; }; f"

  ## open hub-url (origin compare ?expand=1)
  open = "! f() { open $(git url \"$@\") ; }; f"

  ## open upstream
  uopen = "! f() { open $(git url upstream/$(git master-branch) \"$@\") ; }; f"

  ## log in a graph (add --all all branches)
  # see also --oneline
  graph = log --graph --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan)<%an>%Creset'
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(cyan)<%an>%Creset'

  ## setup tracking for this branch (default: remote=origin)
  # deprecate?
  track = "!f() { git branch --set-upstream-to=${1:-origin}/$(git branch --show-current); }; f"
  ## remove reference to a remote branch (typically for someone you follow). It is still on remote and git fetch will repopulate id
  branch-remote-delete-regex = "!f() { git branch -r | grep ${1?need a regular expression} | xargs git branch -r -d ; } ; f"

  ## delete my remote branches for a given regular expression (don't delete origin or HEAD)
  # branch-delete-remote git branch -a | awk -F/ ' /origin\/[^mH]/ { print $3 }'

  ## add a remote for a collaborator: git collaborate bdunne
  ## swaps user in origin (or upstream) URL -- no API call
  collaborate = "! f() { local remote=$(git config remote.origin.url) ; remote=${remote:-$(git config remote.upstream.url)} ; [[ $remote =~ (https?://[^/]*/|git@[^:]*:)([^/]*)(.*)$ ]] ; git remote add $1 ${BASH_REMATCH[1]}$1${BASH_REMATCH[3]} ; git fetch $1 ; } ; f"

  ## stage fix, then: git fixup [hash] -- folds staged changes into that commit
  ## (defaults to HEAD; uses --autosquash rebase, skips editor)
  fixup = "!HASH=${1-$(git rev-parse HEAD)} && git commit --fixup=$HASH && EDITOR=: git rebase -i --autosquash $HASH~1 && echo"

  # open a file on upstream "master"
  master = "! f() { git open upstream/$(git master-branch) $(find . -name \"$@\") ; } ; f"

  # reads refs/remotes/*/HEAD (sometimes missing, run config-head to populate)
  master-branch = !git branch -rl '*/HEAD' | sed 's@.*/@@' | head -1
  config-head   = "!f() { git remote set-head ${1:-origin} -a ; }; f" # queries remote, populates HEAD
  # manual override when remote is wrong: git remote set-head origin main
  # list the branches that contain a tag
  branch-having-tag="! f() { git branch -r --contains $(git rev-list --no-walk $1) ; } ; f"
[apply]
  whitespace = fix
#[branch]
# git checkout automatically tracks the remote ()
#  autosetupmerge = true
[core]
  excludesfile = ~/.gitignore_global
  pager = less -x4
  attributesfile = ~/.gitattributes
	autocrlf = ""
# for word level highlighting
# [pager]
#   log = diff-highlight | less -R
#   show = diff-highlight | less -x4 -R
#   diff = diff-highlight | less -x4 -R
# use mac keychain for ssh passwords
[credential]
  helper = osxkeychain
[grep]
  lineNumber = true
[pull]
  ff = only
	rebase = true
[push]
  default = simple # explicit remote, safe w/forks
  autoSetupRemote = true # automatically sets -u
#  default = current # auto-creates remote branch
[rebase]
  autosquash = true
  updateRefs = true
[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto
[color "diff"]
  whitespace = red reverse
#[format]
#  pretty = %C(cyan)>> %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[diff]
  algorithm = patience
	tool = smerge
# haven't played with this yet
# but in theory, it replaces all github http urls to use ssh instead
# [url "git@github.com:"]
#   insteadOf = gh:
#   insteadOf = ghub:
#   insteadOf = github:
#   insteadOf = https://github.com/
#   insteadOf = http://github.com/
[diff "gron"]
  textconv=gron
[url "https://github.com/"]
	insteadOf = git@github.com:
[merge]
	tool = smerge
[difftool "smerge"]
  cmd = smerge \"$BASE\" \"$LOCAL\" \"$REMOTE\"

# echo 'merge_cmd () {
#   "$merge_tool_path" mergetool \
#     "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
# }' > /usr/lib/git-core/mergetools/smerge

#thanks:
# http://georgebrock.com/blog/useful-git-aliases
# [init]
# defaultBranch=master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
# this section has been moved to gitconfig.local
