[user]
	name = ...
	email = ...
	# upload to github when you regenerate on a new machine
	signingkey = ~/.ssh/id_ed25519.pub
#  signingkey = "ssh-ed25519 AAAA..." # use key from 1Password
[github]
	login = ...
# todo: is this needed?
#	token = ...
  # Alternative: Store token in keychain
  # token = !security find-generic-password -gs \"GitHub API Token\" 2>&1 >/dev/null | awk '/password/ {print $2}' | tr -d \\\"
[credential]
  # todo: do we want this?
	helper = osxkeychain

# 1 password:
#[gpg "ssh"]
#  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
